[submodule "themes/hugo-digital-garden-theme"]
	path = themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
[submodule "themes/blog-theme"]
	path = themes/blog-theme
	url = https://github.com/voidspacexyz/blog-theme
